@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Raleway:wght@400;700;800&display=swap');

/* Alternando o Box Model CSS 
para evitar dificuldades com dimensões 
(largura, altura, bordas e espaçamentos) */
* { box-sizing: border-box; }

/* Definindo um tamanho padrão/referência
para uso com medida REM. */
html { font-size: 14px; }

/* Reset de espaçamento de alguns elementos */
body, h1, h2, h3, p, figure, .menu { 
    padding: 0;
    margin: 0;
}

/* Tornando todas as imagens flexíveis */
img { max-width: 100%; }

body { 
    font-family: 'Noto Sans', Verdana, Arial, sans-serif;

    /* Importante declara mesmo que seja branco,
    já que o padrão é transparente (pode causar
    inconsistências quando exibido em aparelhos com modo noturno ativado). */
    background-color: #fff;
    
    
    /* Solução do rodapé (etapa 1) */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* Solução do rodapé (etapa 2) */
main { flex: 1; }

a { text-decoration: none; }

h1 a {
    color: #000000;
    padding: 0.5rem 1rem;
    border-radius: 6px;
}

.cor-titulo-menu {
    color: #2E7D32;
}

h1 {
    /* Google Fonts */
    font-family: Raleway, sans-serif; 
    font-weight: 800; 
    font-size: 1.5rem;
}

header {
    /* Tornando o cabeçalho fixo ao rolar a página. */
    z-index: 1;
    position: sticky;
    top: 0;
    background-color: #ffffff; 
    
}

header div { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}


nav h2 a { 
    color: #2E7D32;
    font-size: 1.2rem;
    display: inline-block;
    padding: 1rem;
}

/* Versão 1: mais específica
seletor por seletor */

/* nav h2 a:hover,
.menu a:hover { */

/* Versão 2: valendo para qualquer tipo de link dentro do nav */
nav a:hover, nav a:focus { 
    background-color: #4e9251;
}

.menu {
    list-style: none;

    /* IMPORTANTE para 
    o funcionamento do menu responsivo */
    display: none; 
}

.menu a {
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

/* ATENÇÃO!
A regra abaixo somente irá funcionar
com o auxílio de programação JavaScript.

Objetivo: quando duas classes estiverem combinadas, o menu será
exibido completamente.*/

.menu.aberto {
    display: flex;
    flex-direction: column;
    background-color: #f7faf7;
    position: absolute;
    left: 0;
    right: 0; 
}

.destaque {
    background-image: url(../imagens/fundo-destaque4.jpg);
    margin: 0 20px;
    border-radius: 22px;
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.destaque h2, .destaque p { 
    color: #ffffff;
    text-align: left; 
}

.destaque h2 { 
    /* Função clamp()
    Utiliza valor mínimo, desejavel
    flexível, e valor máximo. */
    font-size: clamp(3rem, 10vw, 4rem);
    font-family: Raleway, sans-serif;
    font-weight:800;
}

.destaque p { 
    font-size: clamp(1.2rem, 3.3vw, 2.2rem);
    font-weight: bold;
}

.botao-destaque {
    background-color: #2E7D32;
    color: #000000;
    border-radius: 22px;
    border: none;
    padding: 1rem;
    width: 20rem;
    margin: 0 0 0 1rem;
}

.botao-destaque a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
} 

.sessao-texto {
    padding: 3rem;
}

.sessao-frase {
    border: none;
    margin-top: -20px;
    color: #000000;
    padding: 4rem 4rem 8rem 4rem;
    text-align: center;
}

.oi {
    margin-top: -5rem;
}

article h2, section h2 { 
    font-family: Raleway, sans-serif;
    color: #1b571e;
    font-size: 1.8rem;
    margin: 20px;

}

article p, section p { 
    padding: 0.5rem 0;
    font-size: 1.2rem;
    margin: 20px;
    line-height: 1.8rem;
}


/*  Alinhando ao centro o conteúdo (h2, p, address, vídeo, mapa)
    SOMENTE dos artigos com as classes indicadas abaixo */
footer { text-align: center; }

.limitador { 
    width: 95vw;
    margin: auto;
}

footer { 
    background-color: #2E7D32;
    color: white;
    font-weight: bold;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo { 
    background-color: #e4e4e4;
    padding: 0.5rem;
    border-radius: 8px;
}

.conteudo h2 {
    padding-left: 0;
    text-align: center;
}

/* Regras condicionais: media queries */

/* Para telas a partir de 530px */
@media screen and (min-width: 530px) { 
    
    /* Esconder a palavra Menu */
    nav h2 { display: none; }


    /* Fazer aparecer e Deixar lado a lado os itens da lista/menu */
    .menu { 
        display: flex; 
        justify-content: space-evenly;
    }

    nav { width: 70%; }

    .menu li { 
        width: 100%;
        text-transform: uppercase; 
    }

}

/* Para telas a partir de 1000px */
@media screen and (min-width:1000px) { 
    html { font-size: 16px; }
    .limitador { max-width: 1000px; }
    .destaque { margin: 0 4rem; }

    .icone-ilustracao { margin: 0 0 0 4rem; }

    .divisor-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .divisor-flex2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 0 5rem;
    }

    .divisor-flex h2, .divisor-flex p {
        margin: 0;
        padding-right: 5em;
    }

    .botao-destaque {
        background-color: #2E7D32;
        color: #000000;
        border-radius: 22px;
        border: none;
        padding: 1rem;
        width: 20rem;
    }       

    .icone-ilustracao {
        width: 250rem; 
    }

    .ajuste-espaco {
        margin: 0 0 0 6rem;
    }

    .titulo {
        margin-top: 3rem;
    }

}

/* Para telas a partir de 1500px */
@media screen and (min-width:1500px) { 
    html { font-size: 16px; }
    .limitador { max-width: 1000px; }
    .destaque { margin: 0 6rem; }

    
}